* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: 'Poppins', sans-serif;
  }
  body {
    background: #eee;
    padding: 0 16px;
    background-image: url("https://www.transparenttextures.com/patterns/pineapple-cut.png");
  }
  
  header {
    background-color: #5EBBEF;
    margin: auto -16px;
    padding: 10px 80px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
  
  header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 500;
    font-size: 1.8rem;
  }
  
  div .title{
    height: 28px;
    overflow: auto;
    font-weight: 500;
  }

  .title{
    position: relative;
    margin: 35px auto 10px auto;
    width: 650px;
    font-size: 1.2rem;
    font-weight: bolder;
  }
  
  form.create-note {
    position: relative;
    width: 700px;
    margin: 0 auto;
    background: #C3E2FF;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
    height: 240px;
  }

  form.create-note textarea {
    background: transparent;
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
  }

  .noteTitle{
    font-weight: 600;
    height: 40px;
  }

  .noteContent{
    margin-bottom: 30px;
    font-weight: 300;
  }
  
  .display-note{
    position: relative;
    width: 700px;
    margin: 0 auto;
    background: #C3E2FF;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
    height: 240px;
  }

  .dis-content{
    overflow: auto;
    height: 160px;
  }

  .dis-h3{
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
    overflow: auto;
    font-weight: 200;
}

  .allNotes{
    padding: 10px;
    margin: 60px 16px 0px 60px;
    font-weight: 500;

  }

  .plus{
    background: #F5F5F5;
    border-radius: 30px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 200px;
    height: 200px;
    margin: 8px 0 50px 80px;
    float: left;
    text-align: center;
    line-height: 220px;
    vertical-align: middle;
  }
  
  .plus-btn{
    background: #ccc;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
  }

  .note {
    position: relative;
    background: #C3E2FF;
    border-radius: 30px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 200px;
    height: 200px;
    margin: 8px 0 50px 80px;
    float: left;
  }

  .cardTitle{
    height: 130px;
    overflow: auto;
    padding: 5px;
  }

  .note h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
    font-weight: 600;
  }

  button{
    position: absolute;
    bottom: 15px;
    background: #5EBBEF;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
    padding: 6px;
  }

  .delete,.add{
    right: 15px;
  }
  .open{
    left: 15px;
  }
  







 

